In [ ]:
import re
import pandas as pd
import plotly.express as px
import json
import os
import mysql.connector as sql

In [ ]:

path = "C:\\Users\\kadam\\pulse\\data\\aggregated\\transaction\\country\\india\\state\\"

Agg_state_list = os.listdir(path)
Agg_state_list


clm={'State':[], 'Year':[],'Quarter':[],'Transaction_type':[], 'Transaction_count':[], 'Transaction_amount':[]}

for i in Agg_state_list:
    p_i=path+i+"\\"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"\\"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['transactionData']:
              Name=z['name']
              count=z['paymentInstruments'][0]['count']
              amount=z['paymentInstruments'][0]['amount']
              clm['Transaction_type'].append(Name)
              clm['Transaction_count'].append(count)
              clm['Transaction_amount'].append(amount)
              clm['State'].append(i)
              clm['Year'].append(j)
              clm['Quarter'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Agg_Trans=pd.DataFrame(clm)

In [ ]:
Agg_Trans

In [ ]:
Agg_Trans['State'] = Agg_Trans['State'].str.replace('dadra-&-nagar-haveli-&-daman-&-diu', 'Dadra and Nagar Haveli and Daman and Diu')
Agg_Trans['State'] = Agg_Trans['State'].str.replace('&', ' ')
Agg_Trans['State']= Agg_Trans['State'].str.replace('-', '')
Agg_Trans['State'] = Agg_Trans['State'].str.replace(r'(bengal)', lambda x: ' ' + x.group(1).capitalize(), regex=True)
Agg_Trans['State'] = Agg_Trans['State'].str.replace(r'(pradesh)', lambda x: ' ' + x.group(1).capitalize(), regex=True)
Agg_Trans['State'] = Agg_Trans['State'].str.replace(r'(nadu)', lambda x: ' ' + x.group(1).capitalize(), regex=True)
Agg_Trans['State'] = Agg_Trans['State'].str.title()
Agg_Trans['State'] = Agg_Trans['State'].str.replace('islands', '', regex=False)
Agg_Trans['State'] = Agg_Trans['State'].str.replace('Andaman Nicobar', 'Andaman & Nicobar')
Agg_Trans['State'] = Agg_Trans['State'].str.replace('Jammu Kashmir', 'Jammu & Kashmir')

Agg_Trans['State'].value_counts()

In [ ]:
path1 = "C:\\Users\\kadam\\pulse\\data\\aggregated\\user\\country\\india\\state\\"

Agg_user_state_list = os.listdir(path1)
Agg_user_state_list

klm = {'State': [], 'Year': [], 'Quarter': [], "Brands":[],"Transaction_count":[], "Percentage":[]}

for i in Agg_user_state_list:
    p_i = path1 + i + "\\"
    Agg_yr = os.listdir(p_i)
    for j in Agg_yr:
        p_j = p_i + j + "\\"
        Agg_yr_list = os.listdir(p_j)
        for k in Agg_yr_list:
            p_k = p_j + k
            with open(p_k, 'r') as Data:
                D = json.load(Data)
                try:
                    for z in D["data"]["usersByDevice"]:
                        brand = z["brand"]
                        count = z["count"]
                        percentage = z["percentage"]
                        klm["Brands"].append(brand)
                        klm["Transaction_count"].append(count)
                        klm["Percentage"].append(percentage)
                        klm['State'].append(i)
                        klm['Year'].append(j)
                        klm['Quarter'].append(int(k.strip('.json')))
                except:
                    pass
                        
# Successfully created a dataframe
Agg_User = pd.DataFrame(klm)

In [ ]:
Agg_User

In [ ]:
Agg_User['State'] = Agg_User['State'].str.replace('dadra-&-nagar-haveli-&-daman-&-diu', 'Dadra and Nagar Haveli and Daman and Diu')
Agg_User['State'] = Agg_User['State'].str.replace('&', ' ')
Agg_User['State'] = Agg_User['State'].str.replace('-', '')
Agg_User['State'] = Agg_User['State'].str.replace(r'(bengal)', lambda x: ' ' + x.group(1).capitalize(), regex=True)
Agg_User['State'] = Agg_User['State'].str.replace(r'(pradesh)', lambda x: ' ' + x.group(1).capitalize(), regex=True)
Agg_User['State'] = Agg_User['State'].str.replace(r'(nadu)', lambda x: ' ' + x.group(1).capitalize(), regex=True)
Agg_User['State'] = Agg_User['State'].str.title()
Agg_User['State'] = Agg_User['State'].str.replace('islands', '', regex=False)
Agg_User['State'] = Agg_User['State'].str.replace('Andaman Nicobar', 'Andaman & Nicobar')
Agg_User['State'] = Agg_User['State'].str.replace('Jammu Kashmir', 'Jammu & Kashmir')
Agg_User['State'].value_counts()

In [ ]:
path2 = "C:\\Users\\kadam\\pulse\\data\\aggregated\\insurance\\country\\india\\state\\"

Agg_insur_list = os.listdir(path2)
Agg_insur_list

jlm = {'State': [], 'Year': [], 'Quarter': [], 'Insurance_count': [], 'Insurance_amount': []}

for i in Agg_insur_list:
    p_i = path2 + i + "\\"
    Agg_yr = os.listdir(p_i)
    for j in Agg_yr:
        p_j = p_i + j + "\\"
        Agg_yr_list = os.listdir(p_j)
        for k in Agg_yr_list:
            p_k = p_j + k
            with open(p_k, 'r') as Data:
                D = json.load(Data)
                for z in D['data']['transactionData']:
                    count=z['paymentInstruments'][0]['count']
                    amount=z['paymentInstruments'][0]['amount']
                    jlm['Insurance_count'].append(count)
                    jlm['Insurance_amount'].append(amount)
                    jlm['State'].append(i)
                    jlm['Year'].append(j)
                    jlm['Quarter'].append(int(k.strip('.json')))
                        
# Successfully created a dataframe
Agg_insur = pd.DataFrame(jlm)
Agg_insur

In [ ]:
Agg_insur['State'] = Agg_insur['State'].str.replace('dadra-&-nagar-haveli-&-daman-&-diu', 'Dadra and Nagar Haveli and Daman and Diu')
Agg_insur['State'] = Agg_insur['State'].str.replace('&', ' ')
Agg_insur['State'] = Agg_insur['State'].str.replace('-', '')
Agg_insur['State'] = Agg_insur['State'].str.replace(r'(bengal)', lambda x: ' ' + x.group(1).capitalize(), regex=True)
Agg_insur['State'] = Agg_insur['State'].str.replace(r'(pradesh)', lambda x: ' ' + x.group(1).capitalize(), regex=True)
Agg_insur['State'] = Agg_insur['State'].str.replace(r'(nadu)', lambda x: ' ' + x.group(1).capitalize(), regex=True)
Agg_insur['State'] = Agg_insur['State'].str.title()
Agg_insur['State'] = Agg_insur['State'].str.replace('islands', '', regex=False)
Agg_insur['State'] = Agg_insur['State'].str.replace('Andaman Nicobar', 'Andaman & Nicobar')
Agg_insur['State'] = Agg_insur['State'].str.replace('Jammu Kashmir', 'Jammu & Kashmir')
Agg_insur['State'].value_counts()

In [ ]:
path3 = "C:\\Users\\kadam\\pulse\\data\\map\\transaction\\hover\\country\\india\\state\\"

map_trans_list = os.listdir(path3)
map_trans_list

clm = {'State': [], 'Year': [], 'Quarter': [], 'District_name': [], 'Transaction_count': [], 'Transaction_amount': []}

for i in map_trans_list:
    p_i = path3 + i + "\\"
    Agg_yr = os.listdir(p_i)
    for j in Agg_yr:
        p_j = p_i + j + "\\"
        Agg_yr_list = os.listdir(p_j)
        for k in Agg_yr_list:
            p_k = p_j + k
            with open(p_k, 'r') as Data:
                D = json.load(Data)
                for z in D['data']['hoverDataList']:
                        Name=z['name']
                        count=z['metric'][0]['count']
                        amount=z['metric'][0]['amount']
                        clm['District_name'].append(Name)
                        clm['Transaction_count'].append(count)
                        clm['Transaction_amount'].append(amount)
                        clm['State'].append(i)
                        clm['Year'].append(j)
                        clm['Quarter'].append(int(k.strip('.json')))
                        
# Successfully created a dataframe
Map_trans = pd.DataFrame(clm)
Map_trans

In [ ]:
Map_trans['State'] = Map_trans['State'].str.replace('dadra-&-nagar-haveli-&-daman-&-diu', 'Dadra and Nagar Haveli and Daman and Diu')
Map_trans['State'] = Map_trans['State'].str.replace('&', ' ')
Map_trans['State'] = Map_trans['State'].str.replace('-', '')
Map_trans['State'] = Map_trans['State'].str.replace(r'(bengal)', lambda x: ' ' + x.group(1).capitalize(), regex=True)
Map_trans['State'] = Map_trans['State'].str.replace(r'(pradesh)', lambda x: ' ' + x.group(1).capitalize(), regex=True)
Map_trans['State'] = Map_trans['State'].str.replace(r'(nadu)', lambda x: ' ' + x.group(1).capitalize(), regex=True)
Map_trans['State'] = Map_trans['State'].str.title()
Map_trans['State'] = Map_trans['State'].str.replace('islands', '', regex=False)
Map_trans['State'] = Map_trans['State'].str.replace('Andaman Nicobar', 'Andaman & Nicobar')
Map_trans['State'] = Map_trans['State'].str.replace('Jammu Kashmir', 'Jammu & Kashmir')
Map_trans['District_name'] = Map_trans['District_name'].str.replace('district','')
Map_trans['District_name'] = Map_trans['District_name'].str.title()

Map_trans

In [ ]:
path4 = "C:\\Users\\kadam\\pulse\\data\\map\\user\\hover\\country\\india\\state\\"

map_user_list = os.listdir(path4)
map_user_list

clm = {'State': [], 'Year': [], 'Quarter': [], 'District_name':[], 'Total_users': [], 'App_opens': []}

for i in map_user_list:
    p_i = path4 + i + "\\"
    Agg_yr = os.listdir(p_i)
    for j in Agg_yr:
        p_j = p_i + j + "\\"
        Agg_yr_list = os.listdir(p_j)
        for k in Agg_yr_list:
            p_k = p_j + k
            with open(p_k, 'r') as Data:
                D = json.load(Data)
                for district,value in D['data']['hoverData'].items():
                    users = value.get('registeredUsers')
                    opens = value.get('appOpens')
                        
                    clm['Total_users'].append(users)
                    clm['App_opens'].append(opens)
                    clm['District_name'].append(district)
                    clm['State'].append(i)
                    clm['Year'].append(j)
                    clm['Quarter'].append(int(k.strip('.json')))
                        
# Successfully created a dataframe
Map_user = pd.DataFrame(clm)
Map_user

In [ ]:
Map_user['State'] = Map_user['State'].str.replace('dadra-&-nagar-haveli-&-daman-&-diu', 'Dadra and Nagar Haveli and Daman and Diu')
Map_user['State'] = Map_user['State'].str.replace('&', ' ')
Map_user['State'] = Map_user['State'].str.replace('-', '')
Map_user['State'] = Map_user['State'].str.replace(r'(bengal)', lambda x: ' ' + x.group(1).capitalize(), regex=True)
Map_user['State'] = Map_user['State'].str.replace(r'(pradesh)', lambda x: ' ' + x.group(1).capitalize(), regex=True)
Map_user['State'] = Map_user['State'].str.replace(r'(nadu)', lambda x: ' ' + x.group(1).capitalize(), regex=True)
Map_user['State'] = Map_user['State'].str.title()
Map_user['State'] = Map_user['State'].str.replace('islands', '', regex=False)
Map_user['State'] = Map_user['State'].str.replace('Andaman Nicobar', 'Andaman & Nicobar')
Map_user['State'] = Map_user['State'].str.replace('Jammu Kashmir', 'Jammu & Kashmir')
Map_user['District_name'] = Map_user['District_name'].str.replace('district','')
Map_user['District_name'] = Map_user['District_name'].str.title()

Map_user

In [ ]:
path5 = "C:\\Users\\kadam\\pulse\\data\\map\\insurance\\hover\\country\\india\\state\\"

Map_insur_list = os.listdir(path5)
Map_insur_list

jlm = {'State': [], 'Year': [], 'Quarter': [], 'District_name': [], 'Insurance_count': [], 'Insurance_amount': []}

for i in Map_insur_list:
    p_i = path5 + i + "\\"
    Agg_yr = os.listdir(p_i)
    for j in Agg_yr:
        p_j = p_i + j + "\\"
        Agg_yr_list = os.listdir(p_j)
        for k in Agg_yr_list:
            p_k = p_j + k
            with open(p_k, 'r') as Data:
                D = json.load(Data)
                for z in D['data']['hoverDataList']:
                    name=z['name']
                    count=z['metric'][0]['count']
                    amount=z['metric'][0]['amount']
                    jlm['Insurance_count'].append(count)
                    jlm['Insurance_amount'].append(amount)
                    jlm['District_name'].append(name)
                    jlm['State'].append(i)
                    jlm['Year'].append(j)
                    jlm['Quarter'].append(int(k.strip('.json')))
                        
# Successfully created a dataframe
Map_insur = pd.DataFrame(jlm)
Map_insur

In [ ]:
Map_insur['State'] = Map_insur['State'].str.replace('dadra-&-nagar-haveli-&-daman-&-diu', 'Dadra and Nagar Haveli and Daman and Diu')
Map_insur['State'] = Map_insur['State'].str.replace('&', ' ')
Map_insur['State'] = Map_insur['State'].str.replace('-', '')
Map_insur['State'] = Map_insur['State'].str.replace(r'(bengal)', lambda x: ' ' + x.group(1).capitalize(), regex=True)
Map_insur['State'] = Map_insur['State'].str.replace(r'(pradesh)', lambda x: ' ' + x.group(1).capitalize(), regex=True)
Map_insur['State'] = Map_insur['State'].str.replace(r'(nadu)', lambda x: ' ' + x.group(1).capitalize(), regex=True)
Map_insur['State'] = Map_insur['State'].str.title()
Map_insur['State'] = Map_insur['State'].str.replace('islands', '', regex=False)
Map_insur['State'] = Map_insur['State'].str.replace('Andaman Nicobar', 'Andaman & Nicobar')
Map_insur['State'] = Map_insur['State'].str.replace('Jammu Kashmir', 'Jammu & Kashmir')
Map_insur['District_name'] = Map_insur['District_name'].str.replace('district','')
Map_insur['District_name'] = Map_insur['District_name'].str.title()

Map_insur

In [ ]:
path6 =  "C:\\Users\\kadam\\pulse\\data\\top\\transaction\\country\\india\\state\\"
top_trans_list = os.listdir(path6)
top_trans_list

clm = {'State': [], 'Year': [], 'Quarter': [], 'Pincode': [], 'Transaction_count': [], 'Transaction_amount': []}

for i in top_trans_list:
    p_i = path6 + i + "\\"
    Agg_yr = os.listdir(p_i)
    for j in Agg_yr:
        p_j = p_i + j + "\\"
        Agg_yr_list = os.listdir(p_j)
        for k in Agg_yr_list:
            p_k = p_j + k
            with open(p_k, 'r') as Data:
                D = json.load(Data)
                for z in D['data']['pincodes']:
                    Name = z['entityName']
                    metric = z['metric']
                    count = metric.get('count')
                    amount = metric.get('amount')
                    clm['Pincode'].append(Name)
                    clm['Transaction_count'].append(count)
                    clm['Transaction_amount'].append(amount)
                    clm['State'].append(i)
                    clm['Year'].append(j)
                    clm['Quarter'].append(int(k.strip('.json')))

                        
# Successfully created a dataframe
Top_trans = pd.DataFrame(clm)
Top_trans

In [ ]:
Top_trans['State'] = Top_trans['State'].str.replace('dadra-&-nagar-haveli-&-daman-&-diu', 'Dadra and Nagar Haveli and Daman and Diu')
Top_trans['State'] = Top_trans['State'].str.replace('&', ' ')
Top_trans['State'] = Top_trans['State'].str.replace('-', '')
Top_trans['State'] = Top_trans['State'].str.replace(r'(bengal)', lambda x: ' ' + x.group(1).capitalize(), regex=True)
Top_trans['State'] = Top_trans['State'].str.replace(r'(pradesh)', lambda x: ' ' + x.group(1).capitalize(), regex=True)
Top_trans['State'] = Top_trans['State'].str.replace(r'(nadu)', lambda x: ' ' + x.group(1).capitalize(), regex=True)
Top_trans['State'] = Top_trans['State'].str.title()
Top_trans['State'] = Top_trans['State'].str.replace('islands', '', regex=False)
Top_trans['State'] = Top_trans['State'].str.replace('Andaman Nicobar', 'Andaman & Nicobar')
Top_trans['State'] = Top_trans['State'].str.replace('Jammu Kashmir', 'Jammu & Kashmir')


Top_trans

In [ ]:
path7 = "C:\\Users\\kadam\\pulse\\data\\top\\user\\country\\india\\state\\"

top_user_list = os.listdir(path7)
top_user_list


clm = {'State': [], 'Year': [], 'Quarter': [], 'Pincode': [], 'Total_users_by_pincode': []}


for i in top_user_list:
    p_i = path7 + i + "\\"
    Agg_yr = os.listdir(p_i)
    for j in Agg_yr:
        p_j = p_i + j + "\\"
        Agg_yr_list = os.listdir(p_j)
        for k in Agg_yr_list:
            p_k = p_j + k
            with open(p_k, 'r') as Data:
                D = json.load(Data)
                for z in D['data']['pincodes']:
                    name = z.get('name')
                    users = z.get('registeredUsers')
                    clm['Pincode'].append(name)
                    clm['Total_users_by_pincode'].append(users)
                    clm['State'].append(i)
                    clm['Year'].append(j)
                    clm['Quarter'].append(int(k.strip('.json')))



Top_user = pd.DataFrame(clm)

Top_user

In [ ]:
Top_user['State'] = Top_user['State'].str.replace('dadra-&-nagar-haveli-&-daman-&-diu', 'Dadra and Nagar Haveli and Daman and Diu')
Top_user['State'] = Top_user['State'].str.replace('&', ' ')
Top_user['State'] = Top_user['State'].str.replace('-', '')
Top_user['State'] = Top_user['State'].str.replace(r'(bengal)', lambda x: ' ' + x.group(1).capitalize(), regex=True)
Top_user['State'] = Top_user['State'].str.replace(r'(pradesh)', lambda x: ' ' + x.group(1).capitalize(), regex=True)
Top_user['State'] = Top_user['State'].str.replace(r'(nadu)', lambda x: ' ' + x.group(1).capitalize(), regex=True)
Top_user['State'] = Top_user['State'].str.title()
Top_user['State'] = Top_user['State'].str.replace('islands', '', regex=False)
Top_user['State'] = Top_user['State'].str.replace('Andaman Nicobar', 'Andaman & Nicobar')
Top_user['State'] = Top_user['State'].str.replace('Jammu Kashmir', 'Jammu & Kashmir')


Top_user

In [ ]:
path8 = "C:\\Users\\kadam\\pulse\\data\\top\\insurance\\country\\india\\state\\"  
top_insur_list = os.listdir(path8)
top_insur_list

clm = {'State': [], 'Year': [], 'Quarter': [], 'Pincode': [], 'Insurance_count': [], 'Insurance_amount': []}

for i in top_insur_list:
    p_i = path8 + i + "\\"
    Agg_yr = os.listdir(p_i)
    for j in Agg_yr:
        p_j = p_i + j + "\\"
        Agg_yr_list = os.listdir(p_j)
        for k in Agg_yr_list:
            p_k = p_j + k
            with open(p_k, 'r') as Data:
                D = json.load(Data)
                for z in D['data']['pincodes']:
                        Name=z['entityName']
                        count=z['metric'].get('count')
                        amount=z['metric'].get('amount')
                        clm['Pincode'].append(Name)
                        clm['Insurance_count'].append(count)
                        clm['Insurance_amount'].append(amount)
                        clm['State'].append(i)
                        clm['Year'].append(j)
                        clm['Quarter'].append(int(k.strip('.json')))
                        
# Successfully created a dataframe
Top_insur = pd.DataFrame(clm)
Top_insur

In [ ]:
Top_insur['State'] = Top_insur['State'].str.capitalize() 
Top_insur['State'] = Top_insur['State'].str.replace('dadra-&-nagar-haveli-&-daman-&-diu', 'Dadra and Nagar Haveli and Daman and Diu')
Top_insur['State'] = Top_insur['State'].str.replace('&', ' ')
Top_insur['State'] = Top_insur['State'].str.replace('-', '')
Top_insur['State'] = Top_insur['State'].str.replace(r'(bengal)', lambda x: ' ' + x.group(1).capitalize(), regex=True)
Top_insur['State'] = Top_insur['State'].str.replace(r'(pradesh)', lambda x: ' ' + x.group(1).capitalize(), regex=True)
Top_insur['State'] = Top_insur['State'].str.replace(r'(nadu)', lambda x: ' ' + x.group(1).capitalize(), regex=True)
Top_insur['State'] = Top_insur['State'].str.title()
Top_insur['State'] = Top_insur['State'].str.replace('islands', '', regex=False)
Top_insur['State'] = Top_insur['State'].str.replace('Andaman Nicobar', 'Andaman & Nicobar')
Top_insur['State'] = Top_insur['State'].str.replace('Jammu Kashmir', 'Jammu & Kashmir')


Top_insur

In [ ]:
my_db = sql.connect( 
             host="127.0.0.1",
             user="root",
             database ='Phonepe_db',
             port = 3306,
             password="2369",
              ) 
      
mycursor = my_db.cursor()

In [ ]:


#aggregated transaction table
create_query = '''CREATE TABLE if not exists aggregated_Transactions (
    State VARCHAR(225),
    Year INT,
    Quarter INT,
    Transaction_type VARCHAR(225),
    Transaction_count INT,
    Transaction_amount BIGINT
)
'''
mycursor.execute(create_query)
my_db.commit()

for index,row in Agg_Trans.iterrows():
    insert_query = '''INSERT INTO aggregated_Transactions (State, Year, Quarter, Transaction_type, Transaction_count, Transaction_amount)
                                                        values(%s,%s,%s,%s,%s,%s)'''
    values = (row["State"],
              row["Year"],
              row["Quarter"],
              row["Transaction_type"],
              row["Transaction_count"],
              row["Transaction_amount"]
              )
    mycursor.execute(insert_query,values)
    my_db.commit()

#aggregated user table
create_query2 = '''CREATE TABLE if not exists Aggregated_Users (State VARCHAR(225),
                                                                Year INT,
                                                                Quarter INT,
                                                                Brands VARCHAR(225),
                                                                Transaction_count BIGINT,
                                                                Percentage FLOAT)'''

mycursor.execute(create_query2)
my_db.commit()

for index,row in Agg_User.iterrows():
    insert_query2 = '''INSERT INTO Aggregated_Users (State, Year, Quarter, Brands, Transaction_count, Percentage)
                                                    values(%s,%s,%s,%s,%s,%s)'''
    values = (row["State"],
              row["Year"],
              row["Quarter"],
              row["Brands"],
              row["Transaction_count"],
              row["Percentage"])
    mycursor.execute(insert_query2,values)
    my_db.commit()
  
    #aggregated insurance table
create_query1= '''CREATE TABLE if not exists Aggregated_Insurance (State VARCHAR(225),
                                                                   Year INT,
                                                                   Quarter INT,
                                                                   Insurance_count INT,
                                                                   Insurance_amount INT)'''
mycursor.execute(create_query1)
my_db.commit()

for index,row in Agg_insur.iterrows():
    insert_query1 = '''INSERT INTO Aggregated_Insurance (State, Year, Quarter, Insurance_count, Insurance_amount)
                                                        values(%s,%s,%s,%s,%s)'''
    values = (row["State"],
              row["Year"],
              row["Quarter"],
              row["Insurance_count"],
              row["Insurance_amount"]
              )
    mycursor.execute(insert_query1,values)
    my_db.commit()


#Map_insurance
create_query3 = '''CREATE TABLE if not exists Map_insurance (State VARCHAR(225),
                                                             Year INT,
                                                             Quarter INT,
                                                             District VARCHAR(225),
                                                             Insurance_count BIGINT,
                                                             Insurance_amount FLOAT)'''
mycursor.execute(create_query3)
my_db.commit()

for index,row in Map_insur.iterrows():
    insert_query3 = '''
                INSERT INTO Map_insurance (State, Year, Quarter, District, Insurance_count, Insurance_amount)
                VALUES (%s, %s, %s, %s, %s, %s)'''
    values = (
                row['State'],
                row['Year'],
                row['Quarter'],
                row['District_name'],
                row['Insurance_count'],
                row['Insurance_amount']
            )
    mycursor.execute(insert_query3,values)
    my_db.commit() 


#map_transaction_table
create_query4 = '''CREATE TABLE if not exists Map_Transactions ( State VARCHAR(225),
                                                                    Year INT,
                                                                    Quarter INT,
                                                                    District VARCHAR(225),
                                                                    Transaction_count BIGINT,
                                                                    Transaction_amount FLOAT
                                                                )'''
mycursor.execute(create_query4)
my_db.commit()

for index,row in Map_trans.iterrows():
    insert_query4 = '''INSERT INTO Map_Transactions (State, Year, Quarter, District, Transacion_count, Transacion_amount)
    VALUES (%s, %s, %s, %s, %s, %s)
'''
    values = (
                row['State'],
                row['Year'],
                row['Quarter'],
                row['District_name'],
                row['Transaction_count'],
                row['Transaction_amount']
            )
    mycursor.execute(insert_query4,values)
    my_db.commit() 

#map_user_table
create_query5 = '''CREATE TABLE if not exists Map_Users (State VARCHAR(225),
                                                        Year INT,
                                                        Quarter INT,
                                                        District VARCHAR(225),
                                                        Total_users BIGINT,
                                                        App_opens BIGINT)'''
mycursor.execute(create_query5)
my_db.commit()

for index,row in Map_user.iterrows():
    insert_query5 = '''INSERT INTO Map_Users (State, Year, Quarter, District, Total_users, App_opens)
                        values(%s,%s,%s,%s,%s,%s)'''
    values = (row["State"],
              row["Year"],
              row["Quarter"],
              row["District_name"],
              row["Total_users"],
              row["App_opens"])
    mycursor.execute(insert_query5,values)
    my_db.commit()


#top_insurance_table
create_query6 = '''CREATE TABLE if not exists Top_Insurance (State VARCHAR(225),
                                                                Year INT,
                                                                Quarter INT,
                                                                Pincode INT,
                                                                Insurance_count BIGINT,
                                                                Insurance_amount INT)'''
mycursor.execute(create_query6)
my_db.commit()

for index,row in Top_insur.iterrows():
    insert_query6 = '''INSERT INTO Top_Insurance (State, Year, Quarter, Pincode, Insurance_count, Insurance_amount)
                                                    values(%s,%s,%s,%s,%s,%s)'''
    values = (row["State"],
              row["Year"],
              row["Quarter"],
              row["Pincode"],
              row["Insurance_count"],
              row["Insurance_amount"])
    mycursor.execute(insert_query6,values)
    my_db.commit()

#top_transaction_table
create_query7 = '''CREATE TABLE if not exists Top_Transactions (State VARCHAR(225),
                                                                Year INT,
                                                                Quarter INT,
                                                                Pincode INT,
                                                                Transaction_count BIGINT,
                                                                Transaction_amount BIGINT)'''
mycursor.execute(create_query7)
my_db.commit()

for index,row in Top_trans.iterrows():
    insert_query7 = '''INSERT INTO Top_Transactions (State, Year, Quarter, Pincode, Transaction_count, Transaction_amount)
                                                    values(%s,%s,%s,%s,%s,%s)'''
    values = (row["State"],
              row["Year"],
              row["Quarter"],
              row["Pincode"],
              row["Transaction_count"],
              row["Transaction_amount"])
    mycursor.execute(insert_query7,values)
    my_db.commit()

#top_user_table
create_query8 = '''CREATE TABLE if not exists Top_Users (State VARCHAR(225),
                                                        Year INT,
                                                        Quarter INT,
                                                        Pincode INT,
                                                        Total_users_by_pincode BIGINT)'''
mycursor.execute(create_query8)
my_db.commit()

for index,row in Top_user.iterrows():
    insert_query8 = '''INSERT INTO Top_Users (State, Year, Quarter, Pincode, Total_users_by_pincode)
                                            values(%s,%s,%s,%s,%s)'''
    values = (row["State"],
              row["Year"],
              row["Quarter"],
              row["Pincode"],
              row["Total_users_by_pincode"])
    mycursor.execute(insert_query8,values)
    my_db.commit()

In [ ]:



df = pd.read_csv("https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/active_cases_2020-07-17_0800.csv")

fig = px.choropleth(
    df,
    geojson="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson",
    featureidkey='properties.ST_NM',
    locations='state',
    color='active cases',
    color_continuous_scale='Blues'
)

fig.update_geos(fitbounds="locations", visible=False)

fig.show()
df

In [ ]:
'''
#Aggregated_transactions
mycursor.execute("select * from aggregated_transactions;")
table = mycursor.fetchall()
Agg_trans = pd.DataFrame(table,columns = ("State", "Year", "Quarter", "Transaction_type", "Transaction_count","Transaction_amount"))
my_db.commit()

#Aggregated_insurance
mycursor.execute("select * from aggregated_insurance;")
table1 = mycursor.fetchall()
Agg_insur = pd.DataFrame(table1,columns = ("State", "Year", "Quarter", "Insurance_count", "Insurance_amount"))
my_db.commit()

#Aggregated_user
mycursor.execute("select * from aggregated_users")
table2 = mycursor.fetchall()
Agg_user = pd.DataFrame(table2,columns = ("State", "Year", "Quarter", "Brands", "Transaction_count", "Percentage"))
my_db.commit()

#Map_insurance
mycursor.execute("select * from map_insurance")
table3 = mycursor.fetchall()
Map_insur = pd.DataFrame(table3,columns = ("State", "Year", "Quarter", "District", "Insurance_count","Insurance_amount"))
my_db.commit()

#Map_transaction
mycursor.execute("select * from map_transactions")
table4 = mycursor.fetchall()
Map_trans = pd.DataFrame(table4,columns = ("State", "Year", "Quarter", "District", "Transaction_count", "Transaction_amount"))
my_db.commit()

#Map_user
mycursor.execute("select * from map_users")
table5 = mycursor.fetchall()
Map_user = pd.DataFrame(table5,columns = ("State", "Year", "Quarter", "District", "Total_users", "App_opens"))
my_db.commit()

#Top_insurance
mycursor.execute("select * from top_insurance")
table6 = mycursor.fetchall()
Top_insur = pd.DataFrame(table6,columns = ("State", "Year", "Quarter", "Pincode", "Insurance_count", "Insurance_amount"))
my_db.commit()

#Top_transaction
mycursor.execute("select * from top_transactions")
table7 = mycursor.fetchall()
Top_trans = pd.DataFrame(table7,columns = ("State", "Year", "Quarter", "Pincode", "Transaction_count", "Transaction_amount"))
my_db.commit()

#Top_user
mycursor.execute("select * from top_users")
table8 = mycursor.fetchall()
Top_user = pd.DataFrame(table8, columns = ("State", "Year", "Quarter", "Pincode", "Total_users_by_pincode"))
my_db.commit()'''